<div class="mb-3">
  <label for="filterText" class="form-label"> Search for products</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="enter search phrase"
  />
</div>
<div
  class="row row-cols-1 row-cols-md-2 g-4"
  style="margin-top: 10px; margin-bottom: 10px"
>
  <div class="col" *ngFor="let car of carDetails">
    <div class="card">
      <a routerLink="/cars/{{ car.carId }}">
        <img
          style="height: 330px"
          [src]="getCarImageUrl(car.carImage)"
          class="card-img-top"
      /></a>

      <div class="card-body">
        <h5 class="card-title">{{ car.brandName }} - {{ car.colorName }}</h5>
        <p class="card-text">
          {{ car.description }}
        </p>
      </div>
      <div
        class="card-footer d-flex justify-content-between align-items-center"
      >
        <small class="fw-bold text-start"
          >{{ car.dailyPrice | currency }} / Daily</small
        >
        <a routerLink="/cars/{{ car.carId }}"> View Details </a>
      </div>
    </div>
  </div>
</div>
